<% answers.each do |answer| %>
  <p><%= answer.content %></p>
  <p class="author">By: <%=User.find_by(id: answer.user_id).username %></p>

  <form id="best_answer" name="best_answer" action="/questions/<%= answer.question_id %>/answers/<%= answer.id %>/best_answer" method="post">
    <button id='button' type='submit'>Best Answer?!</button>
  </form>


<% end %>
