<form id="new_comment" name="new_comment" action="/questions/<%= question_id  %>/comment" method="post">
  <textarea placeholder="Your Comment" cols="30" rows="5"></textarea>
  <button id='button' type='submit'>Add Comment!</button>
</form>
