<div class="question-form">
	<form action="/questions" method="POST">
		<label for="title">Title:</label>
		<input name="question[title]" type="text" placeholder="Title">
		<input name="question[content]" type="text" placeholder="Type your question here">
		<input type="submit" value="Ask Question">
	</form>
</div>
