<p>hello</p>
<div>
  <h2> <%= @question.title %> </h2>
  <h3> <%= @question.content  %> </h3>


</div>
<%=
<button><a href="#">Add an answer!</a></button>
<button><a href="#">Add a comment!</a></button>
