<p>hello</p>
<div id="question">
  <h2> <%= @question.title %> </h2>
  <h3> <%= @question.content  %> </h3>


</div>

<% if current_user %>
  <button id="new_answer_button">Add an answer!</button>
  <button id="new_comment_button">Add a comment!</button>
<% end %>
