<p>hello</p>
<div>
  <h2> <%= @question.title %> </h2>
  <h3> <%= @question.content  %> </h3>

<button><a href="#">Add an answer!</a></button>
</div>
<%= erb :"questions/_answers", locals: {answers: @answers}  %>

<button><a href="#">Add a comment!</a></button>

