.answer_form{
	display: none;
}

ul {
	list-style-type: none;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

#vote {
	background:none;
  border:none;
}

div.upvote{
	background-color: grey;
	padding: 10px;
	width: 50px;

}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: linear-gradient(to bottom #FF5722, 25%);
	border: 1px solid #FF5722;
	border-radius: 4px;

}

.question {
	margin-left: 100px;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	display:inline-block;
}
.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}
li {
	display: inline;
}

.container {
	width: 1400px;

}
.navbar li {
	padding: 15px 15px;
}


.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

.container2 {
	text-align:center;
}
a {
	color:#222;
}
 .navbar-right {
    float: right !important;
    margin-right: 150px;
  }
