<h1> <%= @user.username %>'s Page </h1>

<div class = "container">
  <% @user.questions.each do |question| %>
  <article>
    <a href="/questions/<%= question.id %>"><%= question.title %></a>
    <p>Votes: <%= question.votes.length %></p>
  </article>
  <% end %>

</div>
