<div class="jumbotron">

	<h1 class="fa fa-user"> <%= @user.username %></h1>
</div>
<div class = "user_question">
	<% @user.questions.each do |question| %>
	<article>
		<ul class="list-group">
			<li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
			<li><p class="label label-success ">Votes: <%= question.votes.length %></p></li>
		</ul>
	</article>

	<% end %>
</div>
