<div class= "container">
	<% @questions.each do |question| %>
	
	<article id= '<%= question.id %>'>
		<a href="/questions/<%= question.id %>"	><%= question.title %></a>
	</article>
	<% end %>


</div>